html, body {

	background:#cccccc;
	font-family: courier;
	margin:auto;
	height:100%;
	width:100%;
	font-size: 100%;

}


h1
{
	text-shadow: 0 0 3px red;
}

ul{
	list-style:none;
	text-align: center;
	
}

#savedguitars h1
{
	text-align:center;
	padding-top: 5%;

}


#header
{
	background:#f2f2f2;
	position:fixed;
	z-index: 1;
	width:100%;
	top:0px;
	left:0px;
	height:12%;

}


.title
{
	float:left;
	margin:0;
	font-size:1vw;
	}

.nav{
	float:right;
	width:40%;
	padding-top:2%;
}

.nav li
{
	display:inline;
	margin-right: 4%;
	float:right;
	font-size:1vw;

}
}

.title h1{
	float:left;
}
.title img{
	float:left;
}

#footer{
	background:#f2f2f2;
	width:100%;
	position:absolute;
	bottom:0px;	
	
}


#footer img {
	bottom:0;




}

#footer li{
	list-style: none;
	float:left;
	margin-left: 15px;
	padding-top: 15px;

}

#footer ul{
	background:white;
	width:100%;
}
