head{
	margin:0;
}


html, body {

	background:#cccccc;
	font-family: courier;
	margin:auto;
	height:200%;
	width:100%;
	font-size: 100%;

}

h1
{
	text-shadow: 0 0 3px red;
}

h2
{
	text-shadow: 0 0 3px red;
}

a
{
	color:black;
	text-decoration:none;
}

.container{
	width: 78%;
	margin:0 auto;
	position:relative;
}

.content img{
	padding-top: 8%;
	position:center;
	opacity: 0.5;
}

.content p {
	
    text-align: center;
    font-size:2vw;

    



}

.content ul 
{
	top:20%;
	position:absolute;
	left:0%;
	right:0%;
   
}











#footer{
	background:#f2f2f2;
	width:100%;
	position:fixed;
	bottom:0px;

	
}


#footer img {
	bottom:0;
	float:left;
	width:4%;


}





#header
{
	background:#f2f2f2;
	position:fixed;
	z-index: 1;
	width:100%;
	top:0px;
	left:0px;
	height:9%;

}

.title
{
	float:left;
	margin:0;
	font-size:1vw;
	}

.nav{
	float:right;
	width:60%;
}

.nav li
{
	display:inline;
	margin-right: 4%;
	float:right;
	font-size:2vw;

}

.title h1{
	float:left;
}
.title img{
	float:left;
}

#home iframe{
	padding-top:12.5%;
	border:0;
}

#home img{
	position:absolute;
	top:9%;
}

#home h2{
	top:10%;
	left:45%;
	position:absolute;
	font-size:1.5vw;
}





.videos iframe{
	border:0;
}

.videos .right iframe{
	float:right;
	border:0;
	margin:0;
	padding:0;
}

#contact h1{
	text-align: center;
}

#actualmap
{
	
}

#map{
	
	padding-bottom:12%;
	text-align:center;
	
}

#map h2{
	text-align:center;
}

form{
	text-align: center;
	}


@media screen and (max-width: 1470px)
{
	#map
	{
		padding-top:400px;
		padding-bottom:50%

	}
	#actualmap
	{
		
		width:450px;
		 height:300px;

	}



}

@media screen and (max-width: 750px)
{
	#map
	{
		padding-bottom:90%
	}
	#actualmap
	{
		
		width:280px;
		 height:180px;

	}
	#footer img
	{
		width:16%;
	}



}

@media screen and  (min-width: 1000px)
{
	
	.nav li
	{
		display:inline;
		margin-right: 4%;
		float:right;
		font-size:1vw;


	}

	#header
	{
		height:12%;
	}

	#home img{
	position:absolute;
	top:12%;
}

@media screen and  (min-width: 1000px)
{
	
	.nav li
	{
		display:inline;
		margin-right: 4%;
		float:right;
		font-size:1vw;


	}

	#header
	{
		height:12%;
	}

	#home img{
	position:absolute;
	top:12%;
}



@media screen and (max-width: 500px)
{
	
	#footer img
	{
		width:16%;
	}



}







