head{
	margin:0;
}


html, body {

	background:#cccccc;
	font-family: courier;
	margin:auto;
	height:200%;
	width:100%;
	font-size: 100%;

}

h1
{
	text-shadow: 0 0 3px red;
}

h2
{
	text-shadow: 0 0 3px red;
}

.container{
	width: 78%;
	margin:0 auto;
	position:relative;
}

.content img{
	padding-top: 8%;
	position:center;
	opacity: 0.5;
}

.content li {
	list-style: none;
    text-align: center;
    font-size:2vw;
    min-width:500px;
    



}

.content ul 
{
	top:20%;
	position:absolute;
	left:0%;
	right:0%;
   
}











#footer{
	background:#f2f2f2;
	width:100%;
	position:absolute;
	bottom:-300%;

	
}


#footer img {
	bottom:0;


}




#header
{
	background:#f2f2f2;
	position:fixed;
	z-index: 1;
	width:100%;
	top:0px;
	left:0px;
	height:12%;

}


.title
{
	float:left;
	margin:0;
	font-size:1vw;
	}

.nav{
	float:right;
	width:40%;
	padding-top:2%;
}

.nav li
{
	display:inline;
	margin-right: 4%;
	float:right;
	font-size:1vw;

}

.title h1{
	float:left;
}
.title img{
	float:left;
}

#home iframe{
	padding-top:12.5%;
	border:0;
}

#home img{
	position:absolute;
	top:12%;
}

#home h2{
	top:10%;
	left:45%;
	position:absolute;
	font-size:1.5vw;
}



#buyLinks li {
	list-style: none;
	float:left;
	padding-left: 10%;
	top: 15%;
	position: absolute;

}

#buyLinks img{
	padding-left:50px;
}

.videos iframe{
	border:0;
}

.videos .right iframe{
	float:right;
	border:0;
	margin:0;
	padding:0;
}

#contact h1{
	text-align: center;
}


#map{
	float:right;
}

#map h2{
	text-align:center;
}

form{
	float:left;
	left:45%;
	position:absolute;
}


@media screen and (max-width: 1470px)
{
	#map
	{
		padding-top:400px;
		left:0;
		right:0;
		position:absolute;
	}
	#actualmap
	{
		position:absolute;
		left:27%;
		width:450px;
		 height:337.5px;

	}



}

@media screen and (min-width: 1470px) and (max-width: 750px)
{
	
	#actualmap
	{
		position:absolute;
		left:27%;
		width:300px;
		 height:225px;

	}



}